---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Ivelin Tchangalov
  </div>
  <div>
    <a href="https://www.flaticon.com/" title="icons">Icons by Leremy, Eucalyp, and juicy_fish - Flaticon</a>
  </div>
</footer>
<style>

</style>
